.card-container{
    width: 25%;
    background-color: lightskyblue;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid black;
    margin-bottom: 30px;
    height: 250px;
    display: flex;

}