.main-header{
    margin: 0 auto;
    box-shadow:0px 0px 40px 40px #000000;
}

.image-box img {
    width:400px;
    height:230px;
    margin: 0 auto;
    position: relative;
    top:10px;
}

.sword-box img {
    width: 300px;
    height: 200px;
    position: relative;
    right: -33px;
    top: -164px;
}

.header-container{
    display:flex;
    justify-content: center;
    background-blend-mode: multiply;
  
}

.title-right{
  color:white;
  position: relative;
  top: 70px;
  left: 60px;
  font-size: 100px;
  color:  #baba45;
  font: bold 100px Helvetica, Arial, Sans-Serif;
    text-shadow: 5px 5px #655651, 
                4px 4px #fe4902, 
                3px 3px #fe4902;
  
}

.title-left{
  color:white;
  position: relative;
  top: 70px;
  left: 0px;
  font-size: 100px;
  color: yellow; 
  font: bold 100px Helvetica, Arial, Sans-Serif;
    text-shadow: 5px 5px #fe4902, 
                4px 4px #fe4902, 
                3px 3px #fe4902;
}